page-searchresults {
    .property_properties {
        
        border: solid #e8e8e8 1px;
        margin: 0 auto;
        padding: 0 ;
        background-color: #EEEEEE;
        text-align: center;
        }
        .wrapper {
            text-align: center;
        }

        .property_wrapper{
            margin: 0 auto;
            padding: 0 ;  
        }
        
        
     
}
