<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div id="header" class="row">
 
  <div class=" col-md-4">
   <img height="1300" width="1500"  src="../assets/imgs/rentnaija/headerimage.svg" alt="" style="margin-left:-650px;margin-top:-450px">
  </div>

  <div class="col-md-offset-1 col-md-6" style="margin-top:100px"> 
      <h3 class="headertext">Your Accommodation search made easy</h3>
  </div>

  <div class="col-md-offset-2 col-md-4" >
      
      <div class="searchdivision" style="margin-top:10px;">
        
    
    
                <div class="btn-group btn-group-justified col-md-10" role="group" aria-label="..." style="padding-top: 30px">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" id="leftborder">Hostel</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default">Hotel</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" id="rightborder">Rent</button>
                    </div>
                  </div>
              
              
        <form class="searchform form-horizontal">
           
    
            <div class="searchinput form-group" style="padding-bottom: 10px" >            
                <div class="col-md-12" >
                    <select class="form-control" id="searchinput">
                        <option>where</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
            </div>
    
            <div class="form-group searchinput" style="padding-bottom : 20px">            
                <div class="col-md-12" style="margin: auto">
                  <button type="submit" class="btn btn-success btn-block" id="searchbutton">Search</button>
                </div>
            </div>
    
          
    
      </form>


      </div>

      <div class="row" style="margin-left:-50px">
          <div class="col-md-6" style="margin-top:20px">
          
              <img width="300" height="80" src="../assets/imgs/rentnaija/appstore-badge.svg" alt="appstore" >
   
           </div>
           <div class="col-md-6" style="margin-top:15px;">
   
             <img width="300" height="95"  src="../assets/imgs/rentnaija/google-play-badge.svg" alt="googlestore" >
   
           </div>
      </div>
      
  </div>
  
 
</div>

<section class="howitworks">
     <div id="header">
        <img src="../assets/imgs/rentnaija/howitworks.svg" height="100" width="400" />
     </div>
     <div id="howitworks_description">
        <img src="../assets/imgs/rentnaija/howitworksimage.svg"  id="howitworksimage" />
     </div>

  <div id="howitworksillustration">
        <img src="../assets/imgs/rentnaija/howitworksillustration.svg" id="howitworksillustrationimage" />
     </div>
</section>


<div class="testimonies">
  <h1 style="text-align:center;color:#ffffff;padding-top:20px">Testimonies</h1>
  <div class="container"> 
  <div class="row">
    <div class=" col-md-4">
     
        <img src="../assets/imgs/rentnaija/customer1.svg" alt="..." class="img-circle" width="200" height="200">
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>

    <div class=" col-md-4">
      
        <img src="../assets/imgs/rentnaija/customer2.svg" alt="..."  class="img-circle" width="200" height="200">
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>

    <div class=" col-md-4">
      
        <img src="../assets/imgs/rentnaija/customer3.svg" alt="..." class="img-circle" width="200" height="200">
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>
    </div>
  </div>   
</div>
<div class="subscribe">
<img src="../assets/imgs/rentnaija/subscribe.svg" height="300" width="300" style="margin-left:-10%;margin-top: -50px">
<form class="subscribeform">
        
  <div class="subscribeinput">
      <input type="text" class="form-control " id="subscribeinput" placeholder="lets keep you informed about our latest offerings">

      
  </div>
  
  <button type="submit" class="btn btn-success" id="subscribebutton">Subscribe</button>


</form>
</div>
<div class="partners">
<h1 style="display: flex;align-items: center;justify-content: center;color:#172A3A;padding-top:40px">Become a Partner with us</h1>
<div style="display: flex;align-items: center;justify-content: center;padding-top:5px">
  <h4 >Are you an agent ? </h4>
  <h4 style="margin-left:10px">Do you own a Property ? </h4>
</div>
<div style="display: flex;align-items: center;justify-content: center;padding-top:20px">

  <button  class="btn btn-success">See how Here</button>
</div>
</div>
